{% extends 'base.html.twig' %}

{% block title %}Edit Histoire{% endblock %}

{% block body %}
    <h1>Edit Histoire</h1>

    {{ include('histoire/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('histoire_index') }}">back to list</a>

    {{ include('histoire/_delete_form.html.twig') }}
{% endblock %}
